.nosotrosContenedor {
    padding: 25px;
    margin: 2rem auto;
    max-width: 1500px;
    color: white;
}

.titulo {
    margin-top: 2.5rem;
    text-align: center;
    margin-bottom: 1.5rem;
    width: 100%;
    font-size: 3rem;
}

.contenido-nosotros {
    display: flex;
    flex-direction: column;
}

.nosotros-text {
    text-align: justify;
    line-height: 1.6;
}

.contenedor-img {
    text-align: center;
}

.contenedor-img img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.contacto {
    text-align: center;
    color: white;     
}

.contacto-fondo {
    background-image: url("/assets/img/fondo-catalogo.png");
    background-size: cover;   
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}

.contacto {    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.text-contact {
    text-align: center;
    color: white;
}

.contacto form { 
    background: url('');
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 1000px;
    padding: 25px;
    border: 2px solid rgba(131, 0, 0, 0.94);    
    background: transparent;
    backdrop-filter: blur(20px);    
    border-radius: 16px;
}

.contacto label { 
    font-weight: 500;
    color: white;
    text-align: center;
}

.contacto input, .contacto textarea {
    padding: 20px;
    border: 0.5px solid firebrick;
    border-radius: 10px;
    width: 100%;
}

.contacto button[type="submit"] {
    width: 100%;
    height: 45px;
    background: red;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px white;
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 600;
}

.contacto button[type="submit"]:hover {
    background: white;
    color: black;
    box-shadow: 0 0 10px cadetblue;    
}